.navbar{
    background-color:rgb(145, 10, 10);
    padding: 1rem 0;
    
}

.navbar-brand{

    color: white;
    width: 90px;
 
}
.navbar-brand span{
    margin-left: 5rem;
   font-weight: 600;
   font-size: ;
}
.brand-and-toggler{
    width: 100%;
}
.navbar-content{
    display: flex;
    width: 100%;
}
.navbar-toggler-btn{
  
    z-index: 11;
}

.show-navbar-collapse{
    transform: translateX(0);
}
.login{
    padding-left:10rem;
     margin-right: 0px;
}
.nav-item{
    display: flex;
    margin-bottom: 1.4rem;


}
.nav-itemnav-link{
   
    color: rgb(255, 255, 255);
}
.nav-link:hover{
    color: var(--purple-color);
}


@media screen and (min-width: 992px){
    .navbar-collapse{
        position: relative;
        height: auto;
        padding: 0;
        width: 100%;
        background-color: transparent;
        transform: translateX(0);
        justify-content: flex-end;
    }
    .navbar-toggler-btn{
        display: none;
    }
    .nav-item{
        margin-bottom: 0;
        margin-left: 2.8rem;
    }
    .nav-link{
        color:white;
        font-size: 1.7rem;
        font-weight: 500!important;
        opacity: 0.8;
    }
    .navbar-nav{
        display: flex;
    }
}